Unsupported compression of streams

### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported


### Fastify version

4.28.1

### Plugin version

7.0.3

### Node.js version

20.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

14.6.1

### Description

On an async function, I return a stream for the body.
If the user doesn't request compression, then it works as expected.
But if he asks for compression, then he gets a 500 and the following error:

```
{"statusCode":500,"code":"ERR_INVALID_ARG_TYPE","error":"Internal Server Error","message":"The \"string\" argument must be of type string or an instance of Buffer or ArrayBuffer. Received an instance of ReadableStream"}
```

### Minimal reproducible example

Configure a basic project and install required modules:

```sh
mkdir mre && cd mre # Create a new directory
npm init -y # Create a new package.json file
npm pkg set type="module" # Make sure type=module in package.json
npm i fastify @fastify/compress # Install required dependencies for the repro
```

**index.js:**

```js
import fastify from 'fastify'
import fastifyCompress from '@fastify/compress'

const app = fastify()
await app.register(fastifyCompress)

const apiUrl = 'https://jsonplaceholder.typicode.com/posts'

// Here it's working fine, but we lose the streaming capability
app.get('/', async (_req, reply) => {
  const res = await fetch(apiUrl);
  const data = await res.text(); // We need to wait for the whole response to be downloaded

  reply
    .type('application/json')
    .send(data)
  return reply
})

// Here it's broken if we ask compression, because we can't send a ReadableStream
app.get('/broken', async (_req, reply) => {
  const res = await fetch(apiUrl);
  const data = res.body; // We get a ReadableStream (see: https://developer.mozilla.org/en-US/docs/Web/API/Request/body)

  reply
    .type('application/json')
    .send(data)
  return reply
})

await app.listen({ port: 3000 })
```

Example of requests:

```sh
# Compression not asked by the client
curl -v http://localhost:3000/ # OK
curl -v http://localhost:3000/broken # OK (even if the path is called "broken")

# Compression asked by the client
curl -v --compressed http://localhost:3000/ # OK
curl -v --compressed http://localhost:3000/broken # Not OK
```

All requests are working as expected, except the last one.

Here is the output I'm getting:

```sh
> curl -v --compressed http://localhost:3000/broken

* Host localhost:3000 was resolved.
* IPv6: ::1
* IPv4: 127.0.0.1
*   Trying [::1]:3000...
* Connected to localhost (::1) port 3000
> GET /broken HTTP/1.1
> Host: localhost:3000
> User-Agent: curl/8.7.1
> Accept: */*
> Accept-Encoding: deflate, gzip
>
* Request completely sent off
< HTTP/1.1 500 Internal Server Error
< content-type: application/json; charset=utf-8
< content-length: 219
< Date: Wed, 21 Aug 2024 15:13:36 GMT
< Connection: keep-alive
< Keep-Alive: timeout=72
<
* Connection #0 to host localhost left intact
{"statusCode":500,"code":"ERR_INVALID_ARG_TYPE","error":"Internal Server Error","message":"The \"string\" argument must be of type string or an instance of Buffer or ArrayBuffer. Received an instance of ReadableStream"}
```

### Link to code that reproduces the bug

_No response_

### Expected Behavior

I expect that in the reproduction example, the `curl -v --compressed http://localhost:3000/broken` command is returning the expected output to the user, and not an error.

Maybe it's a missing feature, and implementing chunk-encoding for streams would solve this?

Apparently `globalThis.ReadableStream` is not supported yet in this. I think it should be easy enough to add it if we switch from `pump` to `require('stream').pipeline` in this module. `pipeline` should handle these out of the box.

(As a workaround, you can call `require('node:stream').Readable.fromWeb(res.body)`)

A PR with a fix would be highly welcomed!

@mcollina Thank you a lot for the workaround ; this is working well 👍 

Regarding replacing `pump` with `require('stream').pipeline` was not working unfortunately ; the same issue is still present.

I attempted to solve this in #312 but in the end I think solving this would require a bigger re-architecture to more modern standards as also described by @mcollina here https://github.com/fastify/fastify-compress/issues/297#issuecomment-2119902305 but there is a test case I added on that branch if anyone else wants to pick this up

Since the current version does not support compressing a `Response` object, I tried my hand at recreating a very tiny replacement that only compresses, not decompresses, data.

This is how far I've gotten:
```ts
import { Readable } from 'node:stream';
import { constants, createBrotliCompress, createDeflate, createGzip } from 'node:zlib';

import { Negotiator } from '@fastify/accept-negotiator';
import type { FastifyInstance, FastifyReply, FastifyRequest } from "fastify";


const COMPRESSIBLE_CONTENT_TYPES = [
  'application/json',
  'text/html',
];

const encodingNegotiator = new Negotiator({
  supportedValues: [
    'br',
    'gzip',
    'deflate',
    'identity',
  ],
});

const MATCH_GZIP_ALIAS = /\*|x-gzip/gu;


function getEncodingHeader(request: FastifyRequest) {
  let header = request.headers['accept-encoding'];

  if (header === null) {
    return;
  }

  header = String(header).toLowerCase()
    // consider the no-preference token as gzip for downstream compat
    // and x-gzip as an alias of gzip
    // ref.: [HTTP/1.1 RFC 7230 section 4.2.3](https://datatracker.ietf.org/doc/html/rfc7230#section-4.2.3)
    .replace(MATCH_GZIP_ALIAS, 'gzip');

  return encodingNegotiator.negotiate(header);
};

function isAlreadyEncoded(reply: FastifyReply) {
  const responseEncoding = reply.getHeader('Content-Encoding')

  return responseEncoding && responseEncoding !== 'identity';
}

function getCompressionEncoding(request: FastifyRequest, reply: FastifyReply) {
  // don't compress on x-no-compression header
  if (request.headers['x-no-compression'] !== undefined) {
    return;
  }

  // don't compress if not one of the indicated compressible types
  const contentType = String(reply.getHeader('Content-Type') || 'application/json');

  if (!COMPRESSIBLE_CONTENT_TYPES.includes(contentType)) {
    return;
  }

  // don't compress on missing or identity `accept-encoding` header
  const encoding = getEncodingHeader(request);

  if (encoding === 'identity' || !encoding) {
    return;
  }

  return encoding;
}


function setVaryHeader (reply: FastifyReply) {
  if (!reply.hasHeader('Vary')) {
    reply.header('Vary', 'accept-encoding');
    return;
  }

  const rawHeaderValue = reply.getHeader('Vary');
  const headerValueArray = Array.isArray(rawHeaderValue) ? rawHeaderValue : [rawHeaderValue];

  const includesAccept = headerValueArray.some(
    (h) => typeof h === 'string' && h.includes('accept-encoding')
  );

  if (!includesAccept) {
    reply.header('Vary', headerValueArray.concat('accept-encoding').join(', '));
  }
}


function compressResponse(
  reply: FastifyReply,
  payload: any,
  threshold: number,
): Readable | undefined {
  if (payload instanceof Response) {
    reply.status(payload.status);

    payload.headers.forEach((value, name) => {
      reply.header(name, value);
    });

    const content = payload.body;

    if (content === null) {
      return;
    }

    return Readable.fromWeb(content as any);
  }

  const contentLength = Buffer.byteLength(payload);

  if (contentLength < threshold) {
    return;
  }

  reply.header('Content-Length', contentLength);

  if (typeof payload === 'string' || Buffer.isBuffer(payload)) {
    return Readable.from(payload);
  }

  return Readable.fromWeb(payload);
};


export const registerCompression = (server: FastifyInstance) => {
  const compressThreshold = 1024; // 1KB

  const compressors = {
    br: () => createBrotliCompress({
      params: {
        // We are a text-only API
        [constants.BROTLI_PARAM_MODE]: constants.BROTLI_MODE_TEXT,

        // default is 11, max is 11, min is 0
        [constants.BROTLI_PARAM_QUALITY]: 5,
      },
    }),

    gzip: createGzip,
    deflate: createDeflate,
  };

  server.addHook('onSend', (request, reply, payload: any, next) => {
    // We don't support compressing streams
    if (!payload || typeof payload.pipe === 'function') {
      next();
      return;
    }

    if (isAlreadyEncoded(reply)) {
      next();
      return;
    }

    // Check if the user supports one of the encodings
    const encoding = getCompressionEncoding(request, reply);

    if (!encoding) {
      next();
      return;
    }

    const stream = compressResponse(reply, payload, compressThreshold)

    if (!stream) {
      next();
      return;
    }

    reply.header('Content-Encoding', encoding);

    setVaryHeader(reply);

    const compressed = stream.pipe(compressors[encoding]());

    next(null, compressed);
  });
};
```

To use it, I simply call it with the server instance.

Here's what's working:
1. The `Response` compression works just fine. Since `@fastify/compress` removes the content length header by default, I didn't need to unwrap the content for this either. Also note that there's no threshold detection as near all of our responses are above 1KB anyway.
2. In some tests I've written, pure HTML string compression works just fine as well.

However, once tested in an actual browser, the JSON responses (that originate as a `Response` object in our case) work just fine, but the stream for the HTML pages doesn't get closed properly. I am using a Caddy server as a proxy for this - which has worked without issues in the past (including using the current version of `@fastify/compress`).

I've already had request logging enabled, and Fastify already thinks it sent everything - but all I am getting is a white page as the browser is still waiting on data. Once I cancel the request in the browser, Caddy says the request was aborted with an incomplete response.

Fixed by https://github.com/fastify/fastify-compress/pull/374